body, html{
    width: 100%;
}

header{display: flex;
    height: 64px;
    align-items: center;;
}

header img{
    margin-left: 24px;

}
span#Colmar{
    color: rgb(70, 70, 70);
}
span#Academy{
    color: rgb(130, 130, 130);
}
header p{
    font-size: 20px;
    color: grey;
   margin-left: auto;
   margin-right: 24px;
}
section.start{
    background-color:rgb(210, 206, 206);
      display: flex;
      align-content: center;
      width: 100%;
}

section.start img{
  width: 60%;
  height: auto;
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 32px;
  margin-right: 24px;
  

}
section.start h1{
    color: rgb(62, 62, 62);
    font-size: 50px;
    ;


}
    
section.start h4{
    color: rgb(67, 66, 66);
    font-size: 30px
    ;
    
}

section.start button{
    background-color: rgb(52, 51, 51);
    color: white;
    font-size: 20px;
    width: 350px;
    height: 55px;
    margin-top: 24px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

section.practicing{
    background-color: white;
    display: flex;
    align-content: center;
    width: 100%;

}
.practicing .left{
    flex: 2;
}
.practicing img{
    width: 90%;
    height: auto;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 32px;
    margin-right: 24px;
    
  
  }
    section.practicing h1{
        color: rgb(62, 62, 62);
        font-size: 50px;
        margin-top: auto;
        margin-bottom: 24px;
        margin-left: 24px;
    
    
    }
        
    section.practicing p{
        color: rgb(67, 66, 66);
        font-size: 30px;
        margin-top: auto;
        margin-left: 24px;
        
    }
    section.practicing span{
        margin-left: 24px;
        margin-bottom: 32px;
    }

    .practicing .right{
        flex: 1;
        
    }
    
    .practicing .right .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid black;
            }
    .practicing .right .cards image{
        width: 35%;
        height: auto;
    }
    
  