
header{display: flex;
    height: 64px;
    align-items: center;;
}

header img{
    padding-left: 24px;

}
span#Colmar{
    color: rgb(70, 70, 70);
}
span#Academy{
    color: rgb(130, 130, 130);
}
header p{
    font-size: 20px;
    color: grey;
   margin-left: auto;
   margin-right: 24px;
}
.start{
    background-color:rgb(210, 206, 206);
      display: flex;
        width: 100%;
        box-sizing: border-box;
}

.start img{
 width: 60%;
  height: auto;
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 32px;
  margin-right: 24px;
  

}
.start.content{
    align-content: center;
   
}
.start h1{
    color: rgb(62, 62, 62);
    font-size: 50px;
    


}
    
.start h4{
    color: rgb(67, 66, 66);
    font-size: 30px
    ;
    
}

.start button{
    background-color: rgb(52, 51, 51);
    color: white;
    font-size: 20px;
    width: 350px;
    height: 55px;
    margin-top: 24px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

 .practicing{
    background-color: white;
    display: flex;
    width: 100%;
}
.practicing .left{
flex:0 1 60%;
padding-right: 24px;
}
.left img{
    width: 100%;
    height: auto;
    padding-top: 32px;
   padding-left: 24px;
    padding-bottom: 32px;
    padding-right: 24px;
    
  
  }
    .practicing h1{
        color: rgb(62, 62, 62);
        font-size: 50px;
       margin-bottom: 24px;
        margin-left: 24px;

    }
        
    .practicing p{
        color: rgb(67, 66, 66);
        font-size: 30px;
        margin-left: 24px;
        
    }
    .practicing span{
        margin-left: 24px;
        margin-bottom: 32px;
    }

    .practicing .right{
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 32px;
       
     
        
    }
    .practicing .right .cards img{
        width: 35%;
        height: auto;
       
    }
    
    .practicing .right .cards{
        border: 3px solid black;
        padding-left: 16px;
        padding-bottom: 16px;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
       
            }
    .practicing .right .cards .text{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                min-width: 0;
                flex: 1;
               text-align: center;
               padding: bottom: 8px;
               
                
            }
  
  